<tr id="<%= order_product.identifier.parameterize %>">
  <td class="product-quantity">
    <%= form.number_field :quantity, class: 'quantity', max: order_product.product.max_quantity, min: 1 %>
    <% if order_product.errors[:quantity].any? -%>
    <span class="bodega-errors">
      <%= order_product.errors[:quantity].join('<br />').html_safe %>
    </span>
    <% end -%>
  </td>
  <td class="product-name">
    <%= order_product.name %>
    <%= form.hidden_field :product_type %>
    <%= form.hidden_field :product_id %>
  </td>
  <td class="product-price">
    <%= humanized_money_with_symbol order_product.price %>
  </td>
  <td class="product-subtotal">
    <%= humanized_money_with_symbol order_product.subtotal %>
  </td>
  <td class="product-remove">
    <%= link_to t('bodega.remove_link'), bodega.remove_from_order_path(product_id: order_product.identifier) %>
  </td>
</tr>
